# 인터파크 베스트셀러 도서정보

In [16]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url = 'http://book.interpark.com/display/collectlist.do?_method=bestsellerHourNew&bookblockname=b_gnb&booklinkname=%BA%A3%BD%BA%C6%AE%C1%B8&bid1=w_bgnb&bid2=LiveRanking&bid3=main&bid4=001'
req = requests.get(url)
soup = BeautifulSoup(req.text, 'html.parser')

# 1. 찾고자하는 목록을 가져오기

In [17]:
lis = soup.find_all('li')
len(lis)

3784

In [18]:
lis = soup.select_one(".rankBestContentList").find_all('li')
len(lis)

70

In [19]:
lis = soup.select_one(".rankBestContentList").select('ol > li')
len(lis)

15

In [20]:
li = lis[0]
li

<li>
<!-- listItem | singleType or setType :: start -->
<div class="listItem singleType">
<div class="cover">
<div class="coverImage">
<label>
<a href="/product/BookDisplay.do?_method=detail&amp;sc.shopNo=0000400000&amp;sc.prdNo=356522531&amp;sc.saNo=003003001&amp;bid1=Best_zone&amp;bid2=LiveRanking&amp;bid3=PRD&amp;bid4=001" target="_blank">
<span class="checkBox">
<input name="_KEY" type="checkbox" value="356522531"/>
</span>
<img alt="세이노의 가르침" src="http://bimage.interpark.com/goods_image/2/5/3/1/356522531s.jpg"/>
<i class="decoFront"></i>
</a>
</label>
</div>
<div class="coverOption">
<ul>
<li class="cart">
<a class="cartGo" href="#" value="356522531"><span>CART</span></a>
</li>
<li class="buy">
<a href="javascript:directOrd('356522531');"><span>BUY</span></a>
</li>
</ul>
</div>
<div class="rankNumber digit2">
<span class="rankBtn_ctrl rkNum_B01"></span>
</div>
</div>
<div class="itemIcon">
<span class="bestSeller">베스트셀러</span>
</div>
<a href="/product/BookDisplay.do?_method=detail&amp;sc.shopNo=0000400000&amp;sc.prdNo=356522531&amp;sc.saNo=003003001&amp;bid1=Best_zone&amp;bid2=LiveRanking&amp;bid3=PRD&amp;bid4=001" target="_blank">
<div class="itemName"><strong>세이노의 가르침 </strong></div>
<div class="itemMeta">
<span class="author">세이노</span>
<span class="company">데이원</span>
</div>
<div class="priceWrap">
<span class="price">
<em>6,480</em>
<span class="currency">원</span>
</span>
<span class="benefits">
<span>(</span>
<span class="discount">
<em>10%</em>
<span class="unit">할인</span>
</span>
<span class="save">
<em>5%</em>
<span class="unit">적립</span>
</span>
<span>)</span>
</span>
</div>
</a>
<div class="reviewStat">
<span class="title">평점</span>
<span class="starRateWrap">
<span class="starRate" style="width:99%">9.9</span>
</span>
<em class="rateNumber">9.9</em>
</div>
<div class="saleIndex">
<span class="title">판매지수</span>
<em class="indexNumber">238,523</em>
</div>
<div class="relatedEvent">
<ul>
<li>
<a href="http://book.interpark.com/book/genbookeventaction.do?_method=EventPlan&amp;sc.evtNo=242640" target="_blank">[기획] 4월 인생주간 추천도서전...</a>
</li>
<li>
<a href="http://book.interpark.com/book/genbookeventaction.do?_method=EventPlan&amp;sc.evtNo=242639" target="_blank">[기획] 카카오페이와 도서상품권 ...</a>
</li>
</ul>
</div>
</div>
<!-- singleType or setType :: end -->
</li>

In [21]:
title = li.select_one('.itemName').get_text().strip()
title

'세이노의 가르침'

In [22]:
author = li.select_one('.author').get_text().strip()
author

'세이노'

In [23]:
company = li.select_one('.company').get_text().strip()
company

'데이원'

In [24]:
price = li.select_one('.price > em').get_text().strip()
price = int(price.replace(',', ""))    #'6,480'
price

6480

In [25]:
#순위
li = lis[14]
rank_spans = li.select('.rankBtn_ctrl')
rank_spans

[<span class="rankBtn_ctrl rkNum_M01"></span>,
 <span class="rankBtn_ctrl rkNum_M04"></span>]

In [27]:
for span in rank_spans:
    print(span['class'][1][-1])

1
4

In [29]:
rank = ''
for span in rank_spans:
    rank += span['class'][1][-1]

In [30]:
rank

'14'

In [34]:
lines = []
for li in lis:
    title = li.select_one('.itemName').get_text().strip()
    author = li.select_one('.author').get_text().strip()
    company = li.select_one('.company').get_text().strip()
    price = li.select_one('.price > em').get_text().strip()
    price = int(price.replace(',', ""))
    rank = ''
    rank_spans = li.select('.rankBtn_ctrl')
    for span in rank_spans:
        rank += span['class'][1][-1]
    rank = int(rank)
    lines.append([rank, title, author, company, price])

In [35]:
df = pd.DataFrame(lines, columns =['순위', '제목', '저자', '출판사', '가격'])
df

,순위,제목,저자,출판사,가격
0,1,세이노의 가르침,세이노,데이원,6480
1,2,메리골드 마음 세탁소,윤정은,북로망스,13500
2,3,"살 때, 팔 때, 벌 때",강영현,21세기북스,19800
3,3,영어책 한 권 외워봤니?,,위즈덤하우스,12600
4,5,장하준의 경제학 레시피,장하준,부키,16200
5,6,사장학개론,김승호,스노우폭스북스,22500
6,6,"괜찮아, 그 길 끝에 행복이 기다릴 거야",손미나,코알라컴퍼니,17100
7,6,표류하는 세계,스콧 갤러웨이,리더스북,17820
8,6,내면소통,김주환,인플루엔셜,29700
9,6,이미 늦었다고 생각하는 당신을 위한 김미경의 마흔 수업,김미경,어웨이크북스,16200
10,6,불편한 편의점 2(단풍 에디션),김호연,나무옆의자,12600
11,6,브라질에 비가 내리면 스타벅스 주식을 사라,피터 나바로/이창식 역/윤지호 감수,에프엔미디어,16200
12,6,당신은 결국 무엇이든 해내는 사람(10만 부 기념 특별 리커버 에디션),김상현,필름(Feelm),13500
13,14,2023 제14회 젊은작가상 수상작품집,"이미상, 김멜라, 성혜령, 이서수, 정선임",문학동네,6930
14,14,거인의 노트,김익한,다산북스,16200

In [36]:
# 어디서 오류가 났는지 알고 싶을때 
lines = []
for i, li in enumerate(lis):
    try:
        title = li.select_one('.itemName').get_text().strip()
        author = li.select_one('.author').get_text().strip()
        company = li.select_one('.company').get_text().strip()
        price = li.select_one('.price > em').get_text().strip()
        price = int(price.replace(',', ""))
        rank = ''
        rank_spans = li.select('.rankBtn_ctrl')
        for span in rank_spans:
            rank += span['class'][1][-1]
        rank = int(rank)
        lines.append([rank, title, author, company, price])
    except:
        print(i)

In [38]:
lines

[[1, '세이노의 가르침', '세이노', '데이원', 6480],
 [2, '메리골드 마음 세탁소', '윤정은', '북로망스', 13500],
 [3, '살 때, 팔 때, 벌 때', '강영현', '21세기북스', 19800],
 [3, '영어책 한 권 외워봤니?', '', '위즈덤하우스', 12600],
 [5, '장하준의 경제학 레시피', '장하준', '부키', 16200],
 [6, '사장학개론', '김승호', '스노우폭스북스', 22500],
 [6, '괜찮아, 그 길 끝에 행복이 기다릴 거야', '손미나', '코알라컴퍼니', 17100],
 [6, '표류하는 세계', '스콧 갤러웨이', '리더스북', 17820],
 [6, '내면소통', '김주환', '인플루엔셜', 29700],
 [6, '이미 늦었다고 생각하는 당신을 위한 김미경의 마흔 수업', '김미경', '어웨이크북스', 16200],
 [6, '불편한 편의점 2(단풍 에디션)', '김호연', '나무옆의자', 12600],
 [6, '브라질에 비가 내리면 스타벅스 주식을 사라', '피터 나바로/이창식 역/윤지호 감수', '에프엔미디어', 16200],
 [6, '당신은 결국 무엇이든 해내는 사람(10만 부 기념 특별 리커버 에디션)', '김상현', '필름(Feelm)', 13500],
 [14, '2023 제14회 젊은작가상 수상작품집', '이미상, 김멜라, 성혜령, 이서수, 정선임', '문학동네', 6930],
 [14, '거인의 노트', '김익한', '다산북스', 16200]]

In [37]:
df = pd.DataFrame(lines, columns =['순위', '제목', '저자', '출판사', '가격'])
df

[[1, '세이노의 가르침', '세이노', '데이원', 6480],
 [2, '메리골드 마음 세탁소', '윤정은', '북로망스', 13500],
 [3, '살 때, 팔 때, 벌 때', '강영현', '21세기북스', 19800],
 [3, '영어책 한 권 외워봤니?', '', '위즈덤하우스', 12600],
 [5, '장하준의 경제학 레시피', '장하준', '부키', 16200],
 [6, '사장학개론', '김승호', '스노우폭스북스', 22500],
 [6, '괜찮아, 그 길 끝에 행복이 기다릴 거야', '손미나', '코알라컴퍼니', 17100],
 [6, '표류하는 세계', '스콧 갤러웨이', '리더스북', 17820],
 [6, '내면소통', '김주환', '인플루엔셜', 29700],
 [6, '이미 늦었다고 생각하는 당신을 위한 김미경의 마흔 수업', '김미경', '어웨이크북스', 16200],
 [6, '불편한 편의점 2(단풍 에디션)', '김호연', '나무옆의자', 12600],
 [6, '브라질에 비가 내리면 스타벅스 주식을 사라', '피터 나바로/이창식 역/윤지호 감수', '에프엔미디어', 16200],
 [6, '당신은 결국 무엇이든 해내는 사람(10만 부 기념 특별 리커버 에디션)', '김상현', '필름(Feelm)', 13500],
 [14, '2023 제14회 젊은작가상 수상작품집', '이미상, 김멜라, 성혜령, 이서수, 정선임', '문학동네', 6930],
 [14, '거인의 노트', '김익한', '다산북스', 16200]]